@using DojoSurveyValidation.Models
@model Survey

<div class="container w-50 mx-auto">

  <div class="bordered w-50">
    <h1 class="mt-3 ">Results</h1>

    <p>@Model.Name</p>
    <p>@Model.Location</p>
    <p>@Model.Language</p>
    <p>@Model.Comment</p>

  </div>
</div>