@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{
        foreach (Dish d in Model)
        {
            <p><a href="/view/@d.DishId">@d.Name</a> by @d.Chef</p>
        }
    }
</div>
