@model Product

<form class="col" asp-action="CreateProduct" asp-controller="Home" method="post">
  <h1 class="display-4 mx-auto">New Product</h1>

  <div class="mb-3" style="max-width: 15rem">
    <div class="d-flex flex-column">
      <label asp-for="Name"></label>
      <input asp-for="Name">
    </div>
    <span class="text-danger" asp-validation-for="Name"></span>
  </div>

  <div class="mb-3" style="max-width: 15rem">
    <div class="d-flex flex-column">
      <label asp-for="Description"></label>
      <input asp-for="Description">
    </div>
    <span class="text-danger" asp-validation-for="Description"></span>
  </div>

  <div class="mb-3" style="max-width: 15rem">
    <div class="d-flex flex-column">
      <label asp-for="Price"></label>
      <input type="Number" step="0.01" asp-for="Price">
    </div>
    <span class="text-danger" asp-validation-for="Price"></span>
  </div>

  <div class="align-self-end mb-3"><button type="submit" class="btn btn-primary">Add Product</button></div>
</form>