* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkGray: #272727;
  --yellow: rgb(211, 193, 94);
  --lightGray: #ddd;
}

.App {
  text-align: center;
  height: 100vh;
  background: var(--darkGray);
  color: white;
}

form h1 {
  padding: 2rem 0;
}

.search-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-items * {
  background: var(--darkGray);
  border-radius: 3px;
  border: none;
}

.input-id {
  max-width: 3.5rem;
  padding: 0.25rem 0rem 0.25rem 1rem;
}

.input-id,
.select-criteria,
.search-option {
  background: var(--lightGray);
}

.btn-search {
  background: var(--yellow);
}

.select-criteria,
.btn-search,
.search-option {
  padding: 0.25rem 1rem;
}

.SearchResults {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 300px;
  perspective: 140px;
}

.crawlText {
  text-align: justify;
  color: var(--yellow);
  transform: rotatex(30deg);
  height: 300px;
}

.attributes {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.attributes li {
  text-decoration: none;
}

.link {
  color: var(--yellow);
  text-decoration: none;
}
